/* body - The main body for the entire application. */
body{
    padding: 0;
    margin: 0; 
    background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

/* * - All the elements in the application. */
*{
    box-sizing: border-box; 
}

/* Fonts */
/* font-0 - Comfortaa */
@font-face {
    font-family: comfortaa;
    src: url('./fonts/comfortaa/Comfortaa-Regular.ttf');
}

/* font-1 Play Pretend */
@font-face {
    font-family: play-pretend;
    src: url('./fonts/play_pretend/Play\ Pretend.otf');
} 

/* mobile-availability - Displays not availability for mobile or tablet devices. */
#mobile-availability{
    display: none; 
}
/***************************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************************/
/* |Testing Area Identifiers and Components| */
#content > div > button{
    padding: 10px 5px 10px 5px;
    font-family:monospace;
    background-color: lightcoral;
    border: 1px solid lightcoral; 
    cursor: pointer;
}
#content > div > button:hover{
    background-color: lightblue;
    border: 1px solid lightblue;
}

/***************************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************************/
/* |Main Content Section| */
#content{
    border: 1px solid red;
    padding: 10px; 
}

/***************************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************************/
/* |Gameboard Container| */
.gameboard-container{
    display: flex;
    justify-content: center;
    gap: 10px;

    border: 1px solid blue;
    padding: 10px;
    width: 1200px;
    margin: 0 auto;
}

/* Player One Board */
.player-one-board{
    display: flex;
    flex-direction: column;

    /* border: 1px solid green; */
    /* padding: 10px; */
}
.player-one-board > div{ /* rows */
    display: flex;

    /* border: 1px solid black; */
    /* padding: 5px; */
}
.player-one-board > div > div{ /* cells */
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #c2410c;
    padding: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.player-one-board > div > div > div{ /* Missed Hit Container */
    /* border: 1px solid black; */
    height: 20px;
    font-size: 20px;
    color: #d946ef;
}

/* Computer Gameboard */
.computer-gameboard{
    display: flex;
    flex-direction: column;

    /* border: 1px solid purple; */
    /* padding: 10px; */
}
.computer-gameboard > div{ /* Rows */
    display: flex;

    /* padding: 10px; */
}
.computer-gameboard > div > div{ /* cells */
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid lightgreen;
    padding: 5px;
    width: 40px; 
    height: 40px;
    cursor: pointer;
}

/* hover-test */
.hover-test{
    border: 2px solid #6366f1 !important;
}

/* ship-placed - Displays each ship placed on the board. */
.ship-placed{
    border: 2px solid #6366f1 !important;
}

/* computer-ship-placed - Displays each ship that the computer places on their board. */
.computer-ship-placed{
    border: 1px solid lightgreen !important;
}

/* computer-ship-hit - Indicates that computer ship has been hit. */
.computer-ship-hit > img[src]{
    width: 100%;
    height: 100%; 
}

/* player-one-ship-hit - Indicates that the player one ship has been hit. */
.player-one-ship-hit > img[src]{
    width: 100%;
    height: 100%;
}

/***************************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************************/
/* |Inteface Section| */
.interface{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    /* border: 1px solid orange; */
    /* padding: 10px; */

}
.interface > button{ /* New Button */
    font-family: comfortaa, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold; 
    font-size: 20px;
    cursor: pointer; 
    border: 1px solid rgba(0, 0, 0, 0); 
    border-radius: 5px; 
    background-color:#38f9d600;
    color: white;
}
.interface > button:hover{
    background-color:#a3e635;
}

.interface > div:nth-child(2){ /* x and y coordinate container. */
    display: flex;
    gap: 10px;

    /* border: 1px solid black;  */
}
.interface > div:nth-child(2) > button{ /* x and y coordinate buttons. */ 
    font-family: comfortaa, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
    font-size: 18px;
    padding: 1px 15px 1px 15px; 
    border-radius: 5px; 
    border: 1px solid white;
    cursor: pointer; 
    background-color:#38f9d600;
    color: white;
}
.interface > div:nth-child(2) > button:hover{
    background-color: #a3e635;
}

.interface > div:nth-child(3){ /* Number of ships on the player board. */
    padding: 5px;
    font-family: comfortaa, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: white; 
}

/* current-coordinate - The current coordinate choosen by the user. */
.current-coordinate{
    background-color: #a3e635 !important;
    border: 1px solid #a3e635 !important; 
}

/* commence-attack - Lets the player know that they can begin attacking the computer gameboard ships. */
.commence-attack{
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    font-family: comfortaa, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: white; 
}

/***************************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************************/
/* |Gameboard Events Section| */
/* player-gameboard-events - All the player gameboard events. */
#player-gameboard-events{
    border: 1px solid orange;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center; 
    font-size: 20px;
    font-family: comfortaa, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: white; 
}
#player-gameboard-events > p{
    display: inline; 
}

/* computer-gameboard-events - All the computer gameboard events. */
#computer-gameboard-events{
    border: 1px solid lightblue;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center; 
    font-size: 20px; 
    font-family: comfortaa, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: white;
}
#computer-gameboard-events > p{
    display: inline;  
}

/***************************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************************/
/* |Application Title| */
#application-title{
    border: 1px solid lightgreen;
    text-align: center;
    font-family: play-pretend, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 50px;
    letter-spacing: 3px;
    color: #e2e8f0;
}

/***************************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************************/
/* |Mobile Section| */
/* media-0 - Will display that mobile and minimization doesn't exist.*/
@media only screen and (max-width: 1100px)
{
    #application-title{
        font-size: 30px;
        text-align: center;
    }

    #mobile-availability{
        display: block;
        text-align: center;
        margin-top: 20px;
        font-size: 19px;
        font-family: comfortaa, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        color: white;
    }

    #content{
        display: none;
    }

    #computer-gameboard-events{
        display: none;
    }

    #player-gameboard-events{
        display: none;
    }
}